.footer{
    background-color: var(--primary);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
@media only screen and (min-width: 768px){
    .footer{
        background-color: var(--primary);
        padding: 2rem;
    }
}
.footerHeader{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0;
}
.footerHeader h3{
    color: var(--white);
    font-size: 1.7rem;
    font-family: var(--fontPrincipal);
    font-weight: normal;
}
@media only screen and (min-width: 768px){
    .footerHeader{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 1rem;
    }
}
.iconosRedes{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
}
.btnIcon{
    color: var(--primary);
    background-color: var(--white);
    padding: 1rem;
    border-radius: 15px;
    transition: .5s;
}
.btnIcon:hover{
    transform: scale(1.1);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.bodyFooter{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
}
@media only screen and (min-width: 768px){
    .bodyFooter{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 3rem;
    }
}
.form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.group1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
}
@media only screen and (min-width: 768px){
    .group1{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 1rem;
    }
}
.group1 input{
    width: auto;
    background-color: #5771C8;
    border-radius: 5px;
    color: var(--white);
    font-family: var(--fontPrincipal);
    padding: 1rem 1rem;
    border: none;
}
@media only screen and (min-width: 768px){
    .group1 input{
        width: 100%;
        background-color: #5771C8;
        border-radius: 5px;
        color: var(--white);
        font-family: var(--fontPrincipal);
        padding: 1rem 1rem;
        border: none;
    }
}
.group1 input::placeholder{
    color: rgba(255, 255, 255, 0.6);;
}

.group2{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.group2 input{
    background-color: #5771C8;
    border-radius: 5px;
    color: var(--white);
    font-family: var(--fontPrincipal);
    padding: 1rem 1rem;
    border: none;
}
.group2 input::placeholder{
    color: rgba(255, 255, 255, 0.6);;
}
.group2 textarea{
    background-color: #5771C8;
    border-radius: 5px;
    color: var(--white);
    font-family: var(--fontPrincipal);
    padding: 1rem 1rem;
    border: none;
}
.group2 textarea::placeholder{
    color: rgba(255, 255, 255, 0.6);;
}
.btnEnviar{
    width: 9rem;
    cursor: pointer;
    color: var(--primary);
    padding: .8rem .8rem;
    background: var(--white);
    border: none;
    border-radius: 15px;
    display: inline-block;
    margin-top: .5rem;
    font-family: var(--fontPrincipal);
    transition: .5s;
}
.btnEnviar:hover{
    transform: scale(1.1);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.mapa{
    width: 100%;
    height: 20rem;
    border: 0;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.map p{
    color: var(--white);
    font-size: 1.5rem;
    font-family: var(--fontPrincipal);
}
.copy{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
    padding: .8rem;
    background-color: var(--azulOscuro)
}
.copy small{
    color: var(--white);
    font-family: var(--fontPrincipal);
}