.contenido404{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}
.contenido404 h3{
    text-align: center;
    color: var(--primary);
    font-family: var(--fontPrincipal);
}
.btnBack{
    text-decoration: none;
    color: var(--white);
    background-color: var(--primary);
    text-decoration: none;
    padding: .5rem 2.5rem;
    border-radius: 15px;
    font-family: var(--fontPrincipal);
    transition: .5s;
}
.btnBack:hover{
    transform: scale(1,1);
}